<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="card-footer" attributes="LiveFlag matchDate matchType matchVenue matchDataDistribution matchLink" noscript>
    <template>
        <style>
            .card-footer{
                padding: 16px;
                background: #E3F2FD;
            }
            .card-footer>div{
                font-size: 12px;
                margin: 0 8px;
                color: rgba(0, 0, 0, 0.7);
            }
            .card-footer>.live{
                color: #FFF;
                background: #F44336;
                padding: 0 4px;
                border-radius: 2px;
            }
        </style>
        <div class="card-footer" horizontal flex layout>
            <template if="{{matchLiveFlag}}">
                <div class="live">Live</div>
            </template>
            <div class="date">{{matchDate}}</div>
            <div class="matchType">{{matchType}}</div>
            <div class="place" flex><a target="blank" href="{{matchVenueMap}}">{{matchVenue}}</a></div>
            <div class="dataSource"><a target="_blank" href="{{matchLink}}">{{matchDataDistribution}}</a></div>

            <div class="matchID" id="matchID">{{matchID}}</div>
        </div>
    </template>
</polymer-element>