<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-transition/core-transition.html">

<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">

<link rel="import" href="../bower_components/core-pages/core-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/hero-transition.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="../bower_components/core-shared-lib/core-shared-lib.html">
<link rel="import" href="../bower_components/polymer-jsonp.html">
<link rel="import" href="../bower_components/byutv-jsonp/byutv-jsonp.html">

<link rel="import" href="teamAcard.html">
<link rel="import" href="teamBcard.html">
<link rel="import" href="vsTag.html">
<link rel="import" href="resultChip.html">
<link rel="import" href="cardFooter.html">
<link rel="import" href="scoreGraph.html">
<link rel="import" href="runGraph.html">
<link rel="import" href="wicketGraph.html">
<link rel="import" href="wicketGraph1.html">

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<polymer-element name="cricket-card">
    <template id="cric-card">
        <!-- <core-ajax 
auto = "false"
id = "ajaxbar"
handleAs ="json" 
id="dataSource" 
on-core-response="{{handleResponse}}"
on-core-errror="{{handleError}}"> 
</core-ajax> -->
        <!-- <polymer-jsonp id="ajaxbar" on-polymer-response="{{handleResponse}}" response="{{response}}"></polymer-jsonp> -->
        <byutv-jsonp  id="ajaxbar" on-response="{{handleResponse}}" on-error="{{handleError}}" response="{{rawData}}"
	error="{{error}}"></byutv-jsonp>
        <style shim-shadowdom>
            *{
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
            }
            a{
                font-size: inherit;
                text-decoration: none;
                color: #2196F3;

            }
            paper-shadow{
                border-radius: 3px;
            }
            .card-title{
                padding: 16px 24px;
                background: #2196F3;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                color: #FFFFFF;
            }
            .graph-tabs>paper-tab{
                background: #2196F3;
                color: #FFEB3B;
                font-size: 16px;
                font-weight: 300;
                padding: 0 16px;
                text-transform: uppercase;
            }
            paper-tabs ::shadow #ink {
                color: rgba(255, 255, 255, 0.4);
            }
            paper-tabs::shadow #selectionBar {
                background-color: #FFEB3B;
                -moz-column-rule-color: #FFEB3B;
                -webkit-column-rule-color: #FFEB3B;
                height: 3px;

            }
            #core-pages{
                position: relative;
                display: block;
                /*height: 200px;;*/
                padding: 16px 24px;
            }
            .card-footer{
                padding: 16px;
                background: #E3F2FD;
            }
            .card-footer>div{
                font-size: 12px;
                margin: 0 8px;
                color: rgba(0, 0, 0, 0.7);
            }
            .card-footer>.live{
                color: #FFF;
                background: #F44336;
                padding: 0 4px;
                border-radius: 2px;
            }
            core-animated-pages .core-selected {
                position: relative;
                display: block;
            }

            .cardside1, .cardside2{
                min-height: 300px;
                min-width: 400px;
            }

            .widgetTitle, .errorTitle{
                padding: 16px 24px;
                background: #2196F3;
                color: #FFF;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
            .errorTitle{
                background: #F44336; 
            }
            .widgetBody{
                padding: 16px 24px;
            }
            .widgetFooter{
                padding: 16px 24px;
                font-size: 12px;
                text-align: left;
                color: #555;
            }
            #example{
                padding: 0 10px;
                font-size: 16px;
                color: #2196F3 ;
            }
            #statButton{
                height: 50px;
            }

            paper-button.colored {
                color: #4285f4;
                height: 50px;
            }
            #getButton{
                visibility:hidden;
            }
            .result{
                background: #2196F3;
                color: rgba(0, 0, 0, 0.5);
                text-align: center;
                font-size: 16px;
                padding: 4px 0;
            }

            #matchID{
                font-size: 12px;
                padding: 0;
                margin: 0;
                background: #2196F3;
                padding: 0 5px;
                color: #FFF;
                border-radius: 3px;
            }
            }
        </style>
        <core-animated-pages selected="0" id="card" transitions="hero-transition cross-fade">
            <section layout vertical >
                <div cross-fade class="cardside1">
                    <paper-shadow>
                        <div class="widgetTitle">Semantics3 CricWidget</div>
                        <div class="widgetBody" hero-id="matchID" horizontal layout end hero> 
                            <paper-input-decorator id="decorator" label="CricInfo Match ID" floatingLabel error="Required | Only numbers allowed"  isInvalid="{{!$.matchIDInput.validity.valid}}" flex>
                                <input is="core-input" id="matchIDInput" pattern="\d*" on-input="{{inputAction}}" required>
                            </paper-input-decorator>
                            <paper-button class="colored" id="getButton" on-click="{{executeAJAX}}" horizontal layout end>Show stats</paper-button>
                        </div>
                        <div class="widgetFooter">Example match id:&nbsp;<span id="example">656491</span><span id="example">656320</span><span id="example">656461</span><span id="example">656463</span><span id="example">656459</span><span id="example">656455</span><br>
                            http://www.espncricinfo.com/ci/engine/match/<span>xxxxxx</span>.html
                        </div>
                    </paper-shadow>
                </div>
            </section>
            <section layout vertical> <!-- center-center> -->
                <div cross-fade class="cardside2">
                    <paper-shadow>
                        <div class="card-title" horizontal justified layout>
                            <team-A-card teamName="{{team1Name}}" teamScore="{{team1Score}}" teamWickets="{{team1Wickets}}" teamOvers="{{team1Overs}}" horizontal flex center-justified layout></team-a-card>
                            <vs-tag liveFlag="{{matchLiveFlag}}" self-end></vs-tag>
                            <team-B-card teamName="{{team2Name}}" teamScore="{{team2Score}}" teamWickets="{{team2Wickets}}" teamOvers="{{team2Overs}}" horizontal flex center-justified layout></team-a-card>
                        </div>
                        <div class="result">
                            <result-chip  liveFlag="{{matchLiveFlag}}" team1Score="{{team1Score}}" team2Score="{{team2Score}}" team2Wickets="{{team2Wickets}}" team1Name="{{team1Name}}" team2Name="{{team2Name}}"></result-chip>
                            {{matchDescription}}
                        </div>
                        <div>
                            <paper-tabs selected="0" class="graph-tabs" id="graphTabs" on-core-select="{{changeTabs}}">
                                <paper-tab>Score agg</paper-tab>
                                <paper-tab>Runs per over</paper-tab>
                                <paper-tab>Wickets</paper-tab>
                            </paper-tabs>

                            <core-animated-pages selected="0" selectedindex="0" notap  id="corePages" transitions="cross-fade">
                                <section layout vertical center-center>
                                    <div cross-fade>
                                        <score-graph data="{{scoreData}}"></score-graph>
                                    </div>
                                </section>
                                <section layout vertical center-center>
                                    <div cross-fade>
                                        <runrate-graph data={{runData}}></runrate-graph>
                                    </div>
                                </section>
                                <section layout vertical center-center>
                                    <div cross-fade>
                                        <wicket-graph data="{{wicketDataTeam1}}" ></wicket-graph>
                                        <wicket-graph-B data="{{wicketDataTeam2}}" ></wicket-graph-B>
                                    </div>
                                </section>

                            </core-animated-pages>  


                        </div>

                        <div class="card-footer" horizontal flex layout>
                            <template if="{{matchLiveFlag}}">
                                <div class="live">Live</div>
                            </template>
                            <div class="date">{{matchDate}}</div>
                            <div class="matchType">{{matchType}}</div>
                            <div class="place" flex><a target="blank" href="{{matchVenueMap}}">{{matchVenue}}</a></div>
                            <div class="dataSource"><a target="_blank" href="{{matchLink}}">{{matchDataDistribution}}</a></div>

                            <div class="matchID" id="matchID">{{matchID}}</div>
                        </div>
                    </paper-shadow>
                </div>
            </section>

            <section layout vertical >
                <div cross-fade class="cardside1">
                    <paper-shadow>
                        <div class="errorTitle">Error fetching data from ESPNCricinfo.</div>
                        <div class="widgetBody" horizontal layout end hero> 
                            <paper-button class="colored" id="backButton" on-click="{{goHome}}" horizontal layout end>Go back</paper-button>
                        </div>
                    </paper-shadow>
                </div>
            </section>

            <section layout vertical >
                <div cross-fade class="cardside1">
                    <paper-shadow>
                        <div class="errorTitle">{{errorMessage}}</div>
                        <div class="widgetBody" horizontal layout end hero> 
                            <paper-button class="colored" id="backButton" on-click="{{goHome}}" horizontal layout end>Go back</paper-button>
                        </div>
                    </paper-shadow>
                </div>
            </section>

        </core-animated-pages>
    </template>
    <script>
        
        Polymer('cricket-card', {
            rawData: "",
            erro: "",
            matchID: "",
            team1Name: "",
            team2Name: "",
            team1Score: "",
            team2Score: "",
            team1Wickets: "",
            team2Wickets: "",
            team1Overs: "",
            team2Overs: "",
            team1ScoreArray: [],
            team2ScoreArray: [],
            team1WicketArray: [],
            team2WicketArray: [],
            team1RPO: [],
            team2RPO: [],
            matchLiveFlag:false,
            matchDescription: "",
            matchVenue: "",
            matchVenueMap: "",
            matchDate: "",
            matchLink: "",
            matchType: "",
            matchDataDistribution: "",
            scoreData: "",
            runData: "",
            wicketDataTeam1: "",
            wicketDataTeam2: "",
            errorMessage:"",
            errorCount:0,

            ready: function(e) {

                this.$.getButton.style.visibility="visible"
                var wholeCard = this.shadowRoot.querySelector("#card");

                var backButton = this.shadowRoot.querySelector("#matchID");
                console.log(backButton);
                backButton.addEventListener('click', function(){
                    console.log(wholeCard);
                    wholeCard.selected = "0";
                    console.log("back");
                });

                var getButton = this.shadowRoot.querySelector("#getButton");
                var examples = this.shadowRoot.querySelectorAll("#example");
                var inputBar = this.shadowRoot.querySelector("#matchIDInput");

                for(i=0; i<examples.length; ++i)
                {
                    examples[i].addEventListener('click', function(e){
                        inputBar.value =  this.innerHTML;
                        inputBar.focus();
                        getButton.style.visibility="visible";
                    });
                }
            },

            executeAJAX: function(e){
                //this.$.getButton.style.visibility="hidden";
                var ajaxVar = this.$.ajaxbar;
                console.log(ajaxVar);
                var inputBarVar = this.$.matchIDInput;
                var url="http://sem3-cricinfo.ngrok.com/match/"+inputBarVar.value;
                
                ajaxVar.url = url;
                console.log(url);
                ajaxVar.go();
                console.log("fired");
                

            },

            inputAction: function(e) {
                console.log("typing");
                this.isInvalid = !e.target.validity.valid;
                console.log(this.isInvalid);
                var getButton = this.$.getButton;
                if(this.isInvalid == true)
                    getButton.style.visibility = "hidden";
                else
                    getButton.style.visibility = "visible" ;
            },

            changeTabs: function(e){
                this.$.corePages.selected = this.$.graphTabs.selected;
            },

            goHome: function(e){
                this.$.card.selected=0;
            },

            
            handleResponse: function(e){

                this.matchID = this.$.matchIDInput.value;
                //var rawData = e.detail.response;

                console.info(this.rawData);
                if(this.rawData.hasOwnProperty('message'))
                {
                    
                    this.errorMessage = this.rawData.message;
                    this.$.card.selected=3;
                }
                else{

                    this.team1Name="";
                    this.team2Name="";
                    
                    this.matchDate = this.rawData.date;
                    this.matchLiveFlag =  this.rawData.is_live;
                    this.matchDescription = stripDescription(this.rawData.description);
                    this.matchVenue = this.rawData.venue;
                    this.matchVenueMap = "https://www.google.com.sg/maps/place/"+encodeURIComponent(this.matchVenue);
                    this.matchLink = "http://www.espncricinfo.com/ci/engine/match/"+this.matchID+".html";
                    console.log(this.matchLink);
                    this.matchType = this.rawData.type;
                    this.matchDataDistribution = stripLink(this.rawData.data_attribution);
                    this.matchLiveFlag = this.rawData.is_live;

                    var firstTeam = stripCountryName(this.rawData.team_batting_first);

                    this.team1Name = this.rawData.team_batting_first;
                    if(this.team1Name === this.rawData.team1)
                    {
                        this.team2Name = this.rawData.team2;
                    }
                    else{
                        this.team2Name = this.rawData.team1;
                    }

                    var team1Scores = this.rawData.scores_by_over[this.team1Name];
                    var team2Scores = this.rawData.scores_by_over[this.team2Name];

                    this.team1ScoreArray.length=0;
                    this.team2ScoreArray.length=0;
                    this.team1WicketArray.length=0;
                    this.team2WicketArray.length=0;

                    for(var score in team1Scores)
                    {
                        var splitScore = stripScoreAndWicket(team1Scores[score]);
                        this.team1ScoreArray.push(splitScore[0]);
                        this.team1WicketArray.push(splitScore[1]);
                    }

                    while(this.team1ScoreArray.length != 50)
                    {
                        this.team1ScoreArray.push(null);
                    }

                    for(var score in team2Scores)
                    {
                        var splitScore = stripScoreAndWicket(team2Scores[score]);
                        this.team2ScoreArray.push(splitScore[0]);
                        this.team2WicketArray.push(splitScore[1]);
                    }

                    while(this.team2ScoreArray.length != 50)
                    {
                        this.team2ScoreArray.push(null);
                    }

                    this.scoreData.length=0;

                    this.scoreData=[ ['Score', stripCountryName(this.team1Name), stripCountryName(this.team2Name)] , [0, 0, 0]];
                    for(var i=0; i<team1Scores.length; ++i)
                    {
                        this.scoreData.push([i+1, this.team1ScoreArray[i], this.team2ScoreArray[i]]);
                    }

                    this.team1RPO = previousDifferenceArray(this.team1ScoreArray);
                    this.team2RPO = previousDifferenceArray(this.team2ScoreArray);

                    this.runData.length=0;
                    this.runData=[ ['RPO', stripCountryName(this.team1Name), stripCountryName(this.team2Name)] ];
                    for(var i=0; i<this.team1RPO.length; ++i)
                    {
                        this.runData.push([i+1, this.team1RPO[i], this.team2RPO[i]]);
                    }

                    this.wicketDataTeam1.length = 0;
                    var team1Wickets = previousDifferenceArray(this.team1WicketArray);
                    this.wicketDataTeam1 = [ ['Overs', stripCountryName(this.team1Name)], [0, null] ];
                    for(var i=0; i<team1Wickets.length; ++i)
                    {
                        if(team1Wickets[i] == 0)
                            this.wicketDataTeam1.push([i+1, null]);
                        else 
                        {
                            if(team1Wickets[i] > 1)
                            {
                                totalWickets = team1Wickets[i];
                                var j = 0;
                                while(totalWickets > 0)
                                {
                                    this.wicketDataTeam1.push([i+1, ++j]);
                                    totalWickets--;
                                }

                            }
                            else{
                                this.wicketDataTeam1.push([i+1, team1Wickets[i]]);
                            }
                        }
                    }

                    this.wicketDataTeam2.length = 0;
                    var team2Wickets = previousDifferenceArray(this.team2WicketArray);
                    this.wicketDataTeam2 = [ ['Overs', stripCountryName(this.team2Name)], [0, null] ];
                    for(var i=0; i<team2Wickets.length; ++i)
                    {
                        if(team2Wickets[i] == 0)
                            this.wicketDataTeam2.push([i+1, null]);
                        else 
                        {
                            if(team2Wickets[i] > 1)
                            {
                                totalWickets = team2Wickets[i];
                                var j = 0;
                                while(totalWickets > 0)
                                {
                                    this.wicketDataTeam2.push([i+1, ++j]);
                                    totalWickets--;
                                }

                            }
                            else{
                                this.wicketDataTeam2.push([i+1, team2Wickets[i]]);
                            }
                        }
                    }

                    this.team1ScoreArray = cleanArray(this.team1ScoreArray);
                    this.team2ScoreArray = cleanArray(this.team2ScoreArray);

                    this.team1Score = this.team1ScoreArray[this.team1ScoreArray.length-1];
                    this.team2Score = this.team2ScoreArray[this.team2ScoreArray.length-1];
                    this.team1Wickets = this.team1WicketArray[this.team1WicketArray.length-1];
                    this.team2Wickets = this.team2WicketArray[this.team2WicketArray.length-1];
                    this.team1Overs = this.team1ScoreArray.length;
                    this.team2Overs = this.team2ScoreArray.length;

                    this.team1Name = stripCountryName(this.team1Name);
                    this.team2Name = stripCountryName(this.team2Name);
                    this.$.card.selected=1;
                    this.errorCount = 0;
                }
            },

            handleError: function(e){
                if(this.errorCount == 0)
                {
                    var ajaxVar = this.$.ajaxbar;
                console.log(ajaxVar);
                var inputBarVar = this.$.matchIDInput;
                var url="http://sem3-cricinfo.ngrok.com/match/"+inputBarVar.value;
                
                ajaxVar.url = url;
                console.log(url);
                ajaxVar.go();
                console.log("fired");
                    this.errorCount += 1;
                }
                console.log(this.error);
                this.$.card.selected=2;
            }
        });

        function cleanArray(actual){
            var newArray = new Array();
            for(var i = 0; i<actual.length; i++){
                if (actual[i]){
                    newArray.push(actual[i]);
                }
            }
            return newArray;
        }

        function stripDescription(description)
        {
            return description.substring(0, description.indexOf(':'));
        }

        function stripLink(link){
            return link.substring(0, link.indexOf(' '));
        }

        
        function stripScoreAndWicket(rawScore)
        {
            var scoreArray = rawScore.split('/');
            var score = parseInt(scoreArray[0]);
            var wickets = parseInt(scoreArray[1]);
            //console.log(rawScore);
            return [score, wickets];
        }

        function stripCountryName(name)
        {
            var finalName = "";
            if(name.indexOf(' ') === -1)
            {
                finalName = name.substr(0, 3);
            }
            else{
                finalName += name[0];
                finalName += name[name.indexOf(' ')+1];
            }

            return finalName.toUpperCase();
        }

        function previousDifferenceArray(runArray)
        {
            var diffArray = [runArray[0]];

            for(var i=1; i<50; ++i)
            {
                if(runArray[i] == null)
                    diffArray.push(null);
                else
                    diffArray.push(parseInt(runArray[i]-runArray[i-1]));
            }

            return diffArray;
        }
        
        

    </script>
</polymer-element>