<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="result-chip" attributes="liveFlag team1Score team2Score team2Wickets team1Name team2Name" noscript>
    <template>
        <style>

        </style>
        <template if="{{!liveFlag}}">
        <template if="{{team1Score > team2Score}}">
            {{team1Name}} won by {{team1Score - team2Score}} runs |
        </template>
        <template if="{{team1Score < team2Score}}">
            {{team2Name}} won by {{10 - team2Wickets}} wickets |
        </template>
        <template if="{{team1Score == team2Score}}">
            Match drawn |  
        </template>
            </template>
    </template>
</polymer-element>