<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<polymer-element name="score-graph" attributes="data" noscript>
    <template>
        <style>
            #scoreChart, #runChart, #wicketChart{
                width: 800px;
                height: 400px;
            }
        </style>
        <google-chart
                      id='scoreChart'
                      type="line"
                      data="{{data}}"
                      options='{
                               "hAxis": {"minValue" : 0, "maxValue": 50, "showTextEvery": 1, "gridlines":{"count": 10}, "title": "overs"},
                               "vAxis": {"minValue" : 0, "showTextEvery": 1, "title": "runs"},
                               "legend": { "position": "bottom", "alignment": "center"},
                               "height": 400,
                               "width": 800
                               }'
                      >
        </google-chart>
    </template>
</polymer-element>