<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="team-A-card" attributes="teamName teamScore teamWickets teamOvers" noscript>
    <template>
        <style>
            .teamFlag{
                width: 30px;
                margin: 0 8px;
            }
            .teamScore{
                padding: 0 12px;
                font-size: 32px;
            }
            .teamName{
                font-size: 24px;
                text-transform: uppercase;
            }
            span {
                font-size: 16px;
                opacity: 0.75;
            }
        </style>
        <div class="teamA" horizontal layout>
            <div class="teamFlag" self-end><img src="flags/{{teamName}}.png" width="30px"></div>
            <div class="teamName" self-end>{{teamName}}</div>
            <div class="teamScore" self-end>{{teamScore}}
                <span id="teamWickets">/{{teamWickets}} ({{teamOvers}})</span>
            </div>        
        </div>
    </template>
</polymer-element>