<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="vs-tag" attributes="liveFlag" noscript>
    <template>
        <style>
            .vs{
                color: rgba(0, 0, 0, 0.5);
                font-weight: 100;
                font-size: 16px;
                text-align: center;
                line-height: 26px;
                padding: 0 20px;
            }
            .live{
                color: #FFFFFF;
                background: #F44336;
                padding: 0 4px;
                border-radius: 2px;
                font-size: 16px;
            }
        </style>
        <div class="vs" self-end>
            <template if="{{liveFlag}}">
                <div class="live">LIVE</div>
            </template>
            <template if="{{!liveFlag}}">
                vs
            </template>
        </div>
    </template>
</polymer-element>