<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<polymer-element name="wicket-graph-B" attributes="data color1" noscript>
    <template>
        <style>
            #wicketChart{
                width: 800px;
                height: 200px;
            }
        </style>
        <google-chart
                      id="wicketChart"
                      type="scatter"
                      data="{{data}}"
                      options='{
                               "hAxis": {"minValue" : 0, "maxValue": 50, "showTextEvery": 2, "gridlines":{"count": 10}, "title": "overs"},
                               "vAxis": {"minValue" : 0, "maxValue": 4},
                               "legend": { "position": "bottom", "alignment": "center"},
                               "height": 200,
                               "width": 800,
                               "colors": [ "#e2431e" ]
                               }'
                      >
        </google-chart>
    </template>
</polymer-element>